@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #8baccd;
    --secondary-color: #6f8f9f;
    --tertiary-color: #4f6f7f;
    --quaternary-color: #2f4f5f;
    --quinary-color: #18323e;

}

.divisao-projeto-total {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.divisao-projeto-um, .divisao-projeto-dois {
    max-width: 50%;

}


.dois {
    margin-top: 40px;
}

.botao-projeto-total {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px; /* ajuste este valor conforme necessário */
}

.botao-projeto-um, .botao-projeto-dois{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 10px;
}